{%extends "bootstrap/event-details.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block profile%}
<h2>Profile User</h2>
<p>Welcome to the profile of : {{ name.username}} </p>
</div>


<div class="row"> 
<div class="col-md-3">
  <img src="{{name.profiles[0].avatar_url}}" alt="Speaker 1" class="img-fluid">
</div>

<div class="col-md-6">
  <div class="details">
    <h2>Username : {{name.username}}</h2>
    <h3>Email :     {{name.email}}</h3>
    <h3>Rating : {{rate_number}}</h3>
    <h3>Rated by :
      {%if current_user.username == name.username%}
      {%for u in rate_list1 %}
      {{u.rater}}({{u.rating}})
      {%endfor%}
      {%else%}
      {%for u in rate_list1 %}
      {%if u.rater.username == current_user.username%}
      You ({{u.rating}})
      {%else%}
      {{u.rater}}({{u.rating}})
      {%endif%}
      {%endfor%}
      
      {%endif%}
    </h3>
   
    <!-- <div>
            <a><span class="fa fa-star checked"></a></span>
            <a><span class="fa fa-star checked"></span></a>
            <a><span class="fa fa-star checked"></span></a>
            <a><span class="fa fa-star checked"></span></a>
            <a><span class="fa fa-star checked"></span></a>

    </div> -->
    
    <div class="social">
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-google-plus"></i></a>
      <a href=""><i class="fa fa-linkedin"></i></a>
    </div>
   
    {%block rating%}
    {%if current_user.id == name.id%}
  <nav id="nav-menu-container">
    <ul class="nav-menu">
        <li class="buy-tickets"><a href="/events/{{current_user.id}}/create">Create Event</a></li>
        <li class="buy-tickets"><a href="/users/{{current_user.id}}/editprofile">Edit Profile</a></li>
    </ul>
    <ul class="nav-menu">
     
  </ul>
  </nav>
      {%else%}
      <form method = 'POST'>
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form) }}
      </form>
      {%endif%}  
    {%endblock rating%}
</div>
</div>
<div class = "col-md-3">
  <div class="details">
    <h3>Phone : {{name.profiles[0].phone}}</h2>
    <h3>Address : {{name.profiles[0].address}}</h2>
    
    </div>
</div>
</div>
{%if current_user.id == name.id%}
<section id="speakers" class="wow fadeInUp">
    <div class="container">
     
      <div>
          <div class="section-header">
              <h2>Your history bought ticket</h2>
              <p>List history bought ticket Event</p>
            </div>
          <div class = 'row justify-content-between'>
      
         
          {%for ticket in name.bought_ticket%}
          <div class="col-lg-3 col-md-3 "> 
            <div class="speaker">
              <img src="{{ticket.sold_ticket.image_url}}" alt="Speaker 1" class="" style = "width: 20vw;
              height: 10vw;">
              <div class="details">
                <h5><a href="/users/{{current_user.id}}/ticket/{{ticket.id}}"> Event: {{ticket.sold_ticket.eventname}}</a></h5>
                <h5 style="color: red">Access-type : {{ticket.quantity}} x {{ticket.type.name}}</h5>
              </div>
            </div> 
          </div>
          {%endfor%}
        </div>
      </div>
      <div class="section-header">
          <h2>Created Event</h2>
          <p>List Created Event Here</p>
        </div>
      <div class="row">
        
        {%block renderevent%}
        {%for na in name.events%}
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
              <a href="/events/{{na.id}}">
            <img src="{{na.image_url}}" alt="Speaker 1" class ="img-fluid">
            </a>
            <div class="details">
                <h3><a href="/events/{{na.id}}"> {{na.eventname}}  | Rating : {{na.rating}} </a></h3>
              </div>
          </div>
        </div>
        {%endfor%}
        {%endblock renderevent%}

        
      </div>
    </div>
   
  </section>
  <section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div>
        <div class="section-header">
          <h2>Your history sold ticket</h2>
          <p>List history sold ticket Event</p>
        </div>
          <h3></h3>
          <div class = 'row justify-content-between'>
              <ol>
              {%for new in name.events%}
             <li>
                <h4>Event: {{new.eventname}}</h4>
                <h5>Total money: {{new.ticket_sold | sum(attribute='totalbill')}}</h5>
                <h5>Total ticket: {{new.ticket_sold | sum(attribute='quantity')}}</h5>
                <!-- {%for a in new.ticket_sold%}
                <h3>bill: {{a.totalbill}}</h3>
                {%endfor%} -->
            </li> 
          {%endfor%}
        </ol>
        </div>
      </div>
      <div class="row">

        
      </div>
    </div>
   
  </section>
  {%else%} 
  <section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
          <h2>Created Event</h2>
          <p>List Created Event Here</p>
        </div>
      <div class="row"> 
        {%block renderevent1%}
        {%for na in name.events%}
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <a href="/events/{{na.id}}">
              <img src="{{na.image_url}}" alt="Speaker 1" class ="img-fluid">
            </a>
            <div class="details">
              <h3><a href="/events/{{na.id}}"> {{na.eventname}}  | Rating : {{na.rating}} </a></h3>
            </div>
          </div>
        </div>
        {%endfor%}
        {%endblock renderevent1%}

        
      </div>
    </div>
   
  </section>
  {%endif%}  




{%endblock profile %}